<template>
  <div class="markdown-parser">
    <form @submit.prevent>
      <textarea class="textarea" v-model="text" autofocus rows="10"></textarea>
      <input type="file" id="file-upload" accept="image/jpeg, image/png" @change="uploadPicture">
      <img id="output" width="170px" height="auto">
    </form>
    <pre class="preview" v-html="parsedText"></pre>
  </div>
</template>

<script>
export default {
  name: 'Markdown-parser',
  data () {
    return {
      text: '*Жирный текст* \n_Курсив_ \n`Моноширинный` \n[Текст ссылки](#)',
    }
  },
  computed: {
    parsedText: function () {
      return this.text
        .replace(/\*(.*?)\*/g, (str, text) => `<strong>${text}</strong>`)
        .replace(/\_(.*?)\_/g, (str, text) => `<em>${text}</em>`)
        .replace(/\`(.*?)\`/g, (str, text) => `<code>${text}</code>`)
        .replace(/\[(.*?)\]\((.*?)\)/g, (str, text, link) => `<a href='${link}'>${text}</a>`)
    }
  },
  methods: {
    uploadPicture(evt) {
      const picture = document.getElementById('file-upload').files[0]
      const reader  = new FileReader()

      reader.onload = () => {
        output.src = reader.result
      }

      reader.readAsDataURL(picture)
    },
  }
}
</script>

<style scoped>
.markdown-parser {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
  padding: 60px;
}

form,
pre {
  width: 45%;
  margin: 0;
}

textarea {
  width: 100%;
  margin-bottom: 5px;
}

input {
  display: block;
  margin-bottom: 20px;
}

</style>
