<template>
  <div id="app">
    <Markdown />
  </div>
</template>

<script>
import Markdown from './components/Markdown'

export default {
  name: 'App',
  components: {
    Markdown
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: #2c3e50;
}
</style>
